{%extends "layout.html"%}
{% block content%}


<section class="bg-light">
    <div class="container p-5">
        
        <div class="row">
            {% for offres in offre_emploi.items %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
              <div class="card lesson" style="width: 300px; height: 300px;">
                <div class="card-body d-flex flex-column">
                  <h6 class="card-title">
                     <a href="{{ url_for('offre', offre_title=offres.titre) }}">{{ offres.titre }}</a>
                        </h6>
                        <p class="card-text mb-0">nom_de_societe:
                            {{ offres.recruteur.nom_de_societe}}
                        </p>
                        <div class="card-text">
                            <span class="description-truncated">
                                {{ offres.description | truncate(85) | striptags }}
                            </span>
                            
                            
                        </div>  
                        <p class="card-text mb-0">categorie:
                            <a class="text-decoration-none" href="#">{{offres.categories}}</a>
                        </p>
                        <p class="card-text mb-0">region:
                            <a class="text-decoration-none" href="#">{{offres.region}}</a>
                        </p>                       

                    <span class="text-muted">On: {{offres.date_publication.strftime('%Y-%m-%d')}}</span>
                    <br>
                    <div class="mt-auto">
                      <a class="btn btn-primary btn-warning text-white" href="{{ url_for('offre', offre_title=offres.titre) }}">Afficher plus</a>
                    </div>

                    </div>

                </div>
            </div>
            {% endfor %}
            <nav class="mt-5" aria-label="...">
                <ul class="pagination" style="display: flex; justify-content: flex-end">
                    {% for page_num in offre_emploi.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    {% if offre_emploi.page == page_num %}
                    <li class="page-item active">
                        <a href="{{url_for('offreemploi', page=page_num)}}" class="page-link">{{page_num}}</a>
                    </li>
                    {%else%}
                    <li class="page-item">
                        <a href="{{url_for('offreemploi', page=page_num)}}" class="page-link">{{page_num}}</a>
                    </li>
                    {%endif%}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        
</section>



{% endblock content %}