{% extends "layout.html" %}

{% block content %}
<body>
    <br>
    <div class="card"style="width: 600px;">
        <div class="card-body"style="width: 600px;">
            <div class="">
                <img src="\static\user_pics\image.jpg" alt="">
            </div>
        <h2>EmploiRapide</h2>
        <p>L'entreprise EmploiRapide est un leader dans le domaine du recrutement en ligne. Nous mettons en relation les entreprises à la recherche de talents et les candidats à la recherche d'opportunités professionnelles. Grâce à notre plateforme intuitive et nos outils innovants, nous simplifions et accélérons le processus de recrutement pour toutes les parties concernées. Notre équipe expérimentée et dévouée s'engage à fournir des solutions personnalisées et efficaces pour répondre aux besoins spécifiques de nos clients. Avec EmploiRapide, trouvez rapidement les meilleurs talents ou les meilleures opportunités professionnelles qui correspondent à vos exigences.</p>
    </div>
    </div>
    <div class="card" style="width: 600px;">
        <div class="card-body" style="width: 600px;">
            <h2>Notre équipe</h2>
            <p>Nous sommes une équipe passionnée et dédiée chez EmploiRapide, travaillant ensemble pour offrir les meilleurs services de recrutement en ligne.</p>
            <p>Voici quelques-uns des membres clés de notre équipe :</p>
            <ul>
                <li>John Doe - Directeur du recrutement</li>
                <li>Jane Smith - Spécialiste en acquisition de talents</li>
                <li>David Johnson - Conseiller en carrière</li>
                <li>Emily Brown - Responsable des relations avec les entreprises</li>
                <li>Michael Davis - Expert en technologie de l'information</li>
            </ul>
            <p>Nous combinons nos compétences et notre expérience pour aider les entreprises à trouver les meilleurs candidats et les candidats à trouver des opportunités professionnelles enrichissantes.</p>
        </div>
    </div>
    


</body>
{% endblock content %}